
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Nunito:wght@600&family=Poppins&family=Prompt:wght@500&family=Roboto&family=Roboto+Mono:wght@200&family=Ubuntu&display=swap');
:root{
  --primary-color: #FF385C;
}
*{
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-dark{
  background-color: black !important;
}

.text-primary{
  color: var(--primary-color) !important;
}
.bg-primary{
  color: white !important;
  background-color: var(--primary-color) !important;
}

.btn-primary{
  border: none !important;
  background-color: white !important;
  color: var(--primary-color) !important; 
}